#root {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;

  gap: 30px;
}

.App .settings-window.window{
  display: flex;
  flex-direction: column;

  flex: 1 3 auto;

  gap: 60px;
}

.App .simulation-window {
  display: flex;
  flex: 2 2 600px;

  overflow: hidden;
}

.App .data-window {
  display: flex;
  flex-direction: column;
  flex: 1 1 350px;

  overflow: hidden;
}

.App .window {
  gap: 8px;
}

.App .projectile-container, .App .environment-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* NOTE: This should have some additional styling added to provide more visual harmony (e.g. sync coloring with icons). */
.App .driving-question {
  text-align: left;
  font-size: 14pt;
  margin: 0;
}