#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 800px;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  
  justify-content: space-evenly;
}

.App .settings-window {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  justify-content: space-evenly;
}

.App .simulation-window {
  display: flex;
  flex-grow: 1;
}

.App .data-window {
  display: flex;
  flex-grow: 1;
}
